.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.2s ease-out;
  color: black;
}

.title {
  margin-bottom: 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.label {
  margin-top: 10px;
  font-weight: 600;
  color: black;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  color: rgb(253, 253, 253);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saveBtn {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.deleteBtn {
  background: #e53935;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.cancelBtn {
  background: #757575;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
