.container {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  background: #f7f8fa;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  color: #000; /* чорний текст */
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #000;
}

.section {
  margin-bottom: 1.5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #000;
}

.table th {
  background-color: #f2f2f2;
  font-weight: 600;
}

.table tr:nth-child(even) {
  background-color: #fafafa;
}

.colorCircle {
  width: 100%;
  height: 32px;
  border-radius: 5%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.infoBox {
  background: #f9f9f9;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
  color: #000;
}
