.container {
  display: flex;
  justify-content: center;
  min-height: 70vh;
  background: #f7f8fa;
  padding: 1rem;
  border-radius: 20px;
  margin-top: 5px;
}
.card {
  background: white;
  padding: 1rem;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.title {
  font-size: 1.4rem;
  font-weight: 600;

  color: black;
}
.colorBtn {
  position: fixed;
  bottom: 90px;
  left: 20px;

  width: 50px;
  height: 50px;

  background: #454545;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  z-index: 9999;
}

.colorBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.25);
}

.paletteIcon {
  width: 28px;
  height: 28px;
}
