.barcodeWrapper {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

/* --- Перерва --- */
.breakContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 1rem;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.breakContainer h3 {
  font-size: 14px;
}

.breakContainer span {
  border-radius: 8px;
  font-size: 14px;
}

/* --- Список збережених кодів --- */
.savedList {
  margin-top: 24px;
  text-align: left;
}

.savedList h2 {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
  color: #333;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f2f2;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.listItem:hover {
  background: #e6e6e6;
}

.codeText {
  flex: 1;
  color: #333;
  font-size: 0.95rem;
  overflow: hidden;
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #c0392b;
  transition: color 0.2s;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton:hover {
  color: #e74c3c;
}
.loading {
  color: #333;
}

/* Контейнер для перемикача та додаткових опцій */
.switcherWrapper {
  display: flex;
  flex-direction: column; /* На мобільних краще в колонку */
  gap: 12px;
}

/* Основний тумблер (Codes / Users) */
.toggleWrapper {
  display: flex;

  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.tab {
  flex: 1;

  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease;
  font-weight: 500;
  color: #666;
  font-size: 0.9rem;
  text-align: center;
}

/* Активний стан тумблера */
.activeTab {
  flex: 1;
  padding: 5;
  border: none;
  background: #ffffff; /* Біла "кнопка" на сірому фоні */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
  color: #000;
  text-align: center;
}

/* Поле для пароля */
.passwordInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.passwordInput:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 0 3px rgba(0, 112, 243, 0.1);
}

/* Чекбокс або додатковий перемикач (Save Credentials) */
.saveToggle {
  font-size: 0.85rem;
  display: flex;
  gap: 8px;
  align-items: center;
  color: #444;
  cursor: pointer;
  padding: 4px 8px;
}

.saveToggle input[type='checkbox'] {
  width: 16px;
  height: 16px;
  cursor: pointer;
  accent-color: #0070f3; /* Колір галочки */
}

/* Адаптивність для десктопа */
@media (min-width: 480px) {
  .switcherWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
